<a href="https://colab.research.google.com/github/Epilef86/DNC/blob/main/Classifica%C3%A7%C3%A3o_vinhos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [193]:
import pandas as pd
import numpy as np
import seaborn as sns

In [194]:
wine_white = pd.read_csv("/content/winequality-white.csv", sep = ";")
wine_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [195]:
wine_red = pd.read_csv("/content/winequality-red.csv", sep = ";")
wine_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [196]:
wine_white["type"] = "white"
wine_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [197]:
wine_red["type"] = "red"
wine_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

Juntando as duas tabelas por linha

In [198]:
wines = pd.concat([wine_white, wine_red], axis = 0)
wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

Avaliando vinho de acordo com a qualidade: 0 ruim e 1  boa

In [199]:
wines.loc[wines['quality'] <= 6, 'Avaliation'] = 0
wines.loc[wines['quality'] > 6, 'Avaliation'] = 1
 
wines.head(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type,Avaliation
0,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white,0.0
1,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white,0.0
2,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white,0.0
3,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white,0.0
4,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white,0.0
5,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white,0.0
6,6.2,0.32,0.16,7.00,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,white,0.0
7,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white,0.0
8,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white,0.0
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6,white,0.0
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,5,white,0.0
11,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.9947,3.14,0.53,9.7,5,white,0.0
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.9920,3.18,0.63,10.8,5,white,0.0
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.9912,3.54,0.52,12.4,7,white,1.0
14,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.0002,2.98,0.67,9.7,5,white,0.0
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.9914,3.25,0.55,11.4,7,white,1.0
16,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.9928,3.24,0.36,9.6,6,white,0.0
17,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8,white,1.0
18,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.9917,3.12,0.53,11.3,6,white,0.0
19,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.9955,3.22,0.50,9.5,5,white,0.0

Transformando variveis categricas em numerica

In [200]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

wines['type'] = le.fit_transform(wines.type.values)
wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type,Avaliation
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,1,0.0
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,1,0.0
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,1,0.0
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,1,0.0
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,0,0.0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,0,0.0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,0,0.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,0,0.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,0,0.0

Verificar se tem dados nulos

In [201]:
wines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 1598
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  type                  6497 non-null   int64
 13  Avaliation            6497 non-null   float64
dtypes: float64(12), int64(2)
memory usage: 761.4 KB

Remover dados  duplicados, pois quando  duplicado significa que toda linha  igual
---

In [202]:
wines = wines.drop_duplicates()
wines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5320 entries, 0 to 1598
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         5320 non-null   float64
 1   volatile acidity      5320 non-null   float64
 2   citric acid           5320 non-null   float64
 3   residual sugar        5320 non-null   float64
 4   chlorides             5320 non-null   float64
 5   free sulfur dioxide   5320 non-null   float64
 6   total sulfur dioxide  5320 non-null   float64
 7   density               5320 non-null   float64
 8   pH                    5320 non-null   float64
 9   sulphates             5320 non-null   float64
 10  alcohol               5320 non-null   float64
 11  quality               5320 non-null   int64
 12  type                  5320 non-null   int64
 13  Avaliation            5320 non-null   float64
dtypes: float64(12), int64(2)
memory usage: 623.4 KB

Mundao a coluna Avaliation de float para int

In [203]:
wines['Avaliation'] = wines['Avaliation'].astype(int)
wines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5320 entries, 0 to 1598
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         5320 non-null   float64
 1   volatile acidity      5320 non-null   float64
 2   citric acid           5320 non-null   float64
 3   residual sugar        5320 non-null   float64
 4   chlorides             5320 non-null   float64
 5   free sulfur dioxide   5320 non-null   float64
 6   total sulfur dioxide  5320 non-null   float64
 7   density               5320 non-null   float64
 8   pH                    5320 non-null   float64
 9   sulphates             5320 non-null   float64
 10  alcohol               5320 non-null   float64
 11  quality               5320 non-null   int64
 12  type                  5320 non-null   int64
 13  Avaliation            5320 non-null   int64
dtypes: float64(11), int64(3)
memory usage: 623.4 KB

<ipython-input-203-af666797bcde>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wines['Avaliation'] = wines['Avaliation'].astype(int)

Verificar se tem dados desbalanceados, ex: muito de um tipo e pouco de outro

In [204]:
wines.Avaliation.value_counts()

0    4311
1    1009
Name: Avaliation, dtype: int64

Ou seja tem 4x mais de um tipo do que do outro, precisamos fazer um desbalanceamento. Vamos testar 03 formas existentes:

1 smote --> cria dados que no so reais(sintticos) para preencher o dataset com a classe minoritaria. O smote  usado para o dataset de treino e no para o dataset global, se no influenciar no dataset de teste, pois estaremos predizendo dados sintticos. 

2 near miss/randomUnderSample --> ela remove dados da classe majoritria, podemos aplic-la antes de separar o dataset de teste do de treino

3  uma mistura das duas --> remover dados majoritrios e criar dados sintticos minoritrios (sempre aplicando no treino, pois depois de treinado aplica no dado real)

y  a varivel target

In [205]:
y = wines['Avaliation']


x = wines.drop(columns={"Avaliation", "quality"}, axis=1) #pegando todas menos essas duas, tirei quality porque ela est ligada diretamente com a avaliao

Normalizar as variveis pra que os valores fiquem o mais prximos possveis

In [206]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

x

array([[0.26446281, 0.12666667, 0.21686747, ..., 0.12921348, 0.11594203,
        1.        ],
       [0.20661157, 0.14666667, 0.20481928, ..., 0.15168539, 0.2173913 ,
        1.        ],
       [0.3553719 , 0.13333333, 0.24096386, ..., 0.12359551, 0.30434783,
        1.        ],
       ...,
       [0.17355372, 0.31333333, 0.06024096, ..., 0.30337079, 0.46376812,
        0.        ],
       [0.17355372, 0.37666667, 0.07228916, ..., 0.2752809 , 0.31884058,
        0.        ],
       [0.18181818, 0.15333333, 0.28313253, ..., 0.24719101, 0.43478261,
        0.        ]])

Separar uma parte para treino e outra para teste

In [207]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [208]:
scaler = MinMaxScaler()
x = scaler.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y, random_state = 0)

Aplicando o "smote" para balancear os dados de treino

In [209]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
x_train, y_train = smote.fit_resample(x_train, y_train)

Usando a rvore de deciso para treinar o modelo

In [210]:
from sklearn import tree

In [211]:
arvore = tree.DecisionTreeClassifier()

In [212]:
modelo = arvore.fit(x_train, y_train)

Fazer uma previso para verificar se bate com modelo real

In [213]:
y_pred = modelo.predict(x_test)

Imprimir um relatrio com as mtricas do modelo para validar se o modelo est bom

In [214]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test, y_pred))
catbnm1 = classification_report(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.89      0.81      0.85      1078
           1       0.41      0.56      0.48       252

    accuracy                           0.77      1330
   macro avg       0.65      0.69      0.66      1330
weighted avg       0.80      0.77      0.78      1330

Observando a tabela acima verifica que o modelo no est bem equilibrado pois a preciso est muito alta para o "0" e baixa para o "1"

A rvore de deciso no foi muito bem ao se utilizar o balanceamento "smote". Vou testar o randomUnderSampler

In [215]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler()

Aplicando o RandomUnderSampler diretamento no (x e y) antes de treinar, mais indicado

In [224]:
from sklearn import tree

x = wines.drop(['Avaliation','quality'], axis = 1)
y =  wines['Avaliation']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x)


from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler()

x, y = rus.fit_resample(x,y)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, stratify=y, random_state = 0)

model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)
# fazer as previses em cima dos dados de teste 
y_pred = model.predict(x_test)
y_proba = model.predict_proba(x_test)

from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test, y_pred))
catbnm1 = classification_report(y_test, y_pred)

print(pd.crosstab(y_test, y_pred, rownames = ['Real'], colnames = ['Predito'], margins = True))

y_test = y_test.to_frame()

              precision    recall  f1-score   support

           0       0.68      0.68      0.68       253
           1       0.68      0.68      0.68       252

    accuracy                           0.68       505
   macro avg       0.68      0.68      0.68       505
weighted avg       0.68      0.68      0.68       505

Predito    0    1  All
Real
0        171   82  253
1         80  172  252
All      251  254  505

Concluso: o 2 modelo ele perfoma melhor, pois tm as mtricas equilibradas entre a classe "0" e "1"

---