<a href="https://colab.research.google.com/github/Epilef86/DNC/blob/main/Jogo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns

In [62]:
golf = pd.read_excel("/content/golf_df.xlsx")
golf

       clima  temp umidade vento jogar
0      sunny   hot    high    no    no
1      sunny   hot    high   yes    no
2   overcast   hot    high    no   yes
3      rainy  mild    high    no   yes
4      rainy  cool  normal    no   yes
5      rainy  cool  normal   yes    no
6   overcast  cool  normal   yes   yes
7      sunny  mild    high    no    no
8      sunny  cool  normal    no   yes
9      rainy  mild  normal    no   yes
10     sunny  mild  normal   yes   yes
11  overcast  mild    high   yes   yes
12  overcast   hot  normal    no   yes
13     rainy  mild    high   yes    no

In [63]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [64]:
golf = golf.apply(le.fit_transform)
golf

    clima  temp  umidade  vento  jogar
0       2     1        0      0      0
1       2     1        0      1      0
2       0     1        0      0      1
3       1     2        0      0      1
4       1     0        1      0      1
5       1     0        1      1      0
6       0     0        1      1      1
7       2     2        0      0      0
8       2     0        1      0      1
9       1     2        1      0      1
10      2     2        1      1      1
11      0     2        0      1      1
12      0     1        1      0      1
13      1     2        0      1      0

In [65]:
x = golf.iloc[:,:-1]

y = golf.iloc[:,-1]

In [66]:
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [67]:
model =LogisticRegression()

In [68]:
model =LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [69]:
predict = model.predict(x_test)

In [71]:
x_test["prediction"]=predict

y_test = pd.DataFrame(y_test)

x_test["real"] = y_test["jogar"]
x_test.head()

    clima  temp  umidade  vento  prediction  real
13      1     2        0      1           1     0
3       1     2        0      0           1     1
2       0     1        0      0           1     1

Como banco de dados é pequeno, o ideial é treinar e predizer todo dataset

In [72]:
model = LogisticRegression()
model.fit(x, y)

LogisticRegression()

In [73]:
predict = model.predict(x)

In [75]:
x["prediction"]=predict

y = pd.DataFrame(y)

x["real"] = y["jogar"]
x

    clima  temp  umidade  vento  prediction  real
0       2     1        0      0           0     0
1       2     1        0      1           0     0
2       0     1        0      0           1     1
3       1     2        0      0           1     1
4       1     0        1      0           1     1
5       1     0        1      1           1     0
6       0     0        1      1           1     1
7       2     2        0      0           0     0
8       2     0        1      0           1     1
9       1     2        1      0           1     1
10      2     2        1      1           1     1
11      0     2        0      1           1     1
12      0     1        1      0           1     1
13      1     2        0      1           1     0